header{
    background-color: red;
}

#nav-home-tab{
    font-weight: bolder !important;
}

#nav-profile-tab{
    font-weight: bolder !important;
}

#nav-contact-tab{
    font-weight: bolder !important;
}

section{
    width: 50%;
    margin: auto;
    margin-top: 100px;
}

h1{
    text-align: center;
    color: red;
}

article{
    margin-top: 100px;
}

.formulaire{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

footer{
    background-color: red;
}

button{
    background-color: red !important;
    border: 0 !important;
    color: white !important;
}

a{
    color: red ;
    text-decoration: none;
}
h2{
    text-align: center;
    color: red;
    font-weight: bolder;
}

.nav-link{
    color: white !important;
}

.text-center{
    color: white !important;
}